#fname {
    margin-right: 40px;

}

#lname {
    margin-right: 40px;

}

#email {
    margin-right: 25px;

}

.form-control {
    margin-right: 65px;

}
.library {
	display: inline-block;
}

label {
    width: 250px;
    display: inline-block;
}

blockquote {
    width: 200px;
    border: solid 1px black;
}
