{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block title%}
    <title>Show Book Details</title>
{% endblock %}
{% block body %}
<body>
<br>
session =
{{ session }}
<br>
book = 
{{ book }}
    <div class="container">
      <form action="/register" method="post">
        <div class="text-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h2>Show Book Details</h2>
              <div class="text-left">
                {% if book['images'] == 1 
                   or book['images'] == 0 
                   or book['images'] != 5 %} 
                   <img class='bookImage' width=80px height=130px
                        src="http://bestclipartblog.com/clipart-pics/book-clip-art-12.jpg" 
                        border="0" alt="book jacket" >
                {% else %}
                  <img class='bookImage' width=80px height=130px
                           src='{{ book['images'] }}'>
                {% endif %}
                <div class="editor-label">
                    <label for="title">Title</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="title" name="title" 
                           type="text" value={{ book['title'] }} />
                </div>
                <div class="editor-label">
                    <label for="author">Author</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" 
                    id="author" 
                    name="author" 
                    type="text" value={{ book['author'] }} />
                </div>
                <div class="editor-label">
                    <label for="synpsis">Synopsis</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="synpsis" name="synpsis" 
                           type="text" value="" />
                </div>
                <div class="editor-label">
                    <label for="synpsis">Notes</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="synpsis" name="synpsis" 
                           type="text" value="" />

                </div>
                <br>
                <div class="action">

                   <a class="link_to_overdrive" href="/process_hold_lists, book=book" >Put book on Hold</a>
                   <a class="link_to_overdrive" href="/process_wish_lists, book=book" > Put book on Wish list</a>
                   <a class="link_to_overdrive" href="/process_checked_outs, book=book" > Check out book</a>
                   <br><br>
                   <a class="btn btn-danger" href="/process_search" > Back</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
{% endblock %}
