{% extends "base.html" %}

{% block title%}
    <title>Book list</title>
{% endblock %}
{% block body %}

    <div class="container-fluid">
      <form NAME="cf" action="/process_search?source=newbooks" method="get">
        <div class="book-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h4>  Search Results for {{ search }}:  </h4>
              <div class="text-left">
                <table class="table" id='content' cellspacing="10">
                  <thead>
                    <tr>
                      <th>Cover</th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>Origin</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for title, books in list_of_books | groupby('title') %}
                      {% for book in books %}
                        <tr>
                          <td>
                            {% if book['images'] == 1 
                               or book['images'] == 0 %} 
                               <img class='bookImage' width=40px height=65px
                                    src="http://bestclipartblog.com/clipart-pics/book-clip-art-12.jpg" 
                                    border="0" alt="book jacket" >
                            {% else %}
                              <img class='bookImage' width=40px height=65px
                                       src='{{ book['images'] }}'>
                            {% endif %}
                          </td>
                          <td>
                            {% if book['origin'] == "ODCOM" %} 
                             <a class="bookDetailLink" NAME="cfd" 
                                data-origin="{{ book['origin'] }}"
                                data-author="{{ book['author'] }}"
                                data-avaiableToDownload="{{ book['avaiableToDownload'] }}"
                                data-title="{{ book['title'] }}"
                                data-images="{{ book['images'] }}"
                                data-id="{{ book['id'] }}"
                                data-metadata="{{ book['metadata'] }}"
                                data-synopsis="{{ book['synopsis'] }}"
                                data-expires="{{ book['expires'] }}"
                                href="{{ url_for('show_book') }}">{{ book['title'] }}</a>
                            {% else %}
                              {{ book['title'] }}
                            {% endif %}
                          </td>
                          <td>{{ book['author'] }}</td>
                          <td>
                            {% if book['origin'] == "ODCOM" %} 
                             <img class='OverDriveLogo' width=42px height=42px
                                  src="https://developerportaldev.blob.core.windows.net/media/Default/images/Logos/O_42x42.jpg" 
                                  border="0" >
                            {% elif book['origin'] == "BSORG" %}
                            <img class='BookShareLogo' width=42px height=42px
                                  src="https://www.bookshare.org/cms/sites/default/files/favicon_0.ico" 
                                  border="0" >
                            {% elif book['origin'] == "SFPL" %}
                            <img class='OverDriveLogo' width=42px height=42px
                                  src="/static/img/SFPL.png" 
                                  border="0" >
                            {% else %}
                              {{ book['origin'] }}
                            }
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <li>No results :(</li>
                      <br>
                    {% endfor %}
                  </tbody>
                </table>
                {{ pagination.links|safe }}
              </div>
          <div>
            <h3>Search Again</h3> 
            <input type="text" title="Search" name="search" 
                   class="form-control" 
                   placeholder="Key words, author, title" 
                   autofocus >
            <a class="btn btn-primary" ><button>Search</button></a><br><br>
          </div>
          <div class="action">
            <a class="btn btn-danger" href="/main" >Back</a>
            <br><br>   
            <div align="center">
            <!-- flask pagination -->
            {{ pagination.info|safe }}
            {{ pagination.links|safe }}
            </div>  
          </div>
            </div>
          </div>
        </div>
      </form>
     <form action="/book_details" method="POST" id="bookDataForm">
        <input id="bookDataField" type="hidden" name="bookData" value="" >
        <input id="origin", type='hidden', name='origin' value="" >
        <input id="author", type='hidden', name='author' value="" >
        <input id="availableToDownload", type='hidden', 
               name='availableToDownload' value="" >
        <input id="title", type='hidden', name='title' value="" >
        <input id="images", type='hidden', name='images' value="" >
        <input id="id", type='hidden', name='id' value="" >
        <input id="expires", type='hidden', name='expires' value="" >
        <input id="synopsis", type='hidden', name='synopsis' value="" >
        <input id="metadata", type='hidden', name='metadata' value="" >
      </form>
 
    </div>
    <!-- jpaginate-jquery -->
<script src="http://c.fzilla.com/1286136086-jquery.js"></script>  
<script src="http://c.fzilla.com/1291523190-jpaginate.js"></script>  

<SCRIPT LANGUAGE="JavaScript">

$('.bookDetailLink').click(function(e) {
  e.preventDefault();
  var bookData = e.currentTarget.dataset;
  $('#origin').val(bookData.origin);
  $('#author').val(bookData.author);
  $('#availableToDownload').val(bookData.availableToDownload);
  $('#title').val(bookData.title);
  $('#images').val(bookData.images);
  $('#id').val(bookData.id);
  $('#metadata').val(bookData.metadata);
  $('#expires').val(bookData.expires);
  $('#synopsis').val(bookData.synopsis);
  $('#bookDataForm').submit();
  console.log("in bookDetailLink function");
} );

</SCRIPT>
{% endblock %}

