{% extends "base.html" %}

{% block title%}
    <title> Finished Book List </title>

{% endblock %}
{% block body %}
{{ session }}
{{ books }}
    <div class="container">
      <form action="/process_books_read" method="GET" >
        <div class="book-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h4>  These are the books that you have finished reading, {{ session['fname'] }}: </h4>
              <div class="text-left">
              <!-- flask pagination -->
                {{ pagination.info|safe }}
                {{ pagination.links|safe }}
                <table class="table" cellspacing="10">
                  <thead>
                    <tr>
                      <th>Cover</th>
                      <th>#</th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>Read Date</th>
                    </tr>
                  </thead>
                  <tbody class="table-striped">
                  {% for book in list_of_books %}
                    <tr>{{ loop.index + list_of_books.skip }}</td>
                      <td>{% if book[1] == None %} 
                            <img class='bookImage' width=40px height=65px
                               src="http://bestclipartblog.com/clipart-pics/book-clip-art-12.jpg" 
                               border="0" alt="book jacket" background-color:lightcyan >
                            <a href="/book_details"></a>
                          {% else %}
                            <img class='bookImage' width=40px height=65px
                               src='{{ book[1] }}'>
                          {% endif %}
                      </td>
                      <td>
                      <td>{{ book[0] }}</td>
                      <td>
                          {% if book[4] != "" %}
                              {{ book[3] + ", " + book[4] }}
                          {% else %}
                              {{ book[3] }}
                          {% endif %}
                      </td>
                      <td class="date">{{ book[2] }}</td>
                    </tr>
                  {% else %}
                    <li>No results :(</li>
                    <br>
                  {% endfor %}
                  </tbody>
                </table>
                {{ pagination.links|safe }}
              </div>
              <div>
                <h3>Search Again</h3> 
                <input type="text" title="Search" name="search" 
                       class="form-control" 
                       placeholder="Key words, author, title" 
                       autofocus >
                <a class="btn btn-primary" href="/process_books_read"  >
                    <button>Search</button></a>

              </div>
              <br>
              <div class="action">
                <a class="btn btn-danger" href="/main" >Back</a>   
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>

{% endblock %}


              <div>
              <!-- DC Pagination:A1 Start -->
              <ul class="tsc_pagination tsc_paginationA tsc_paginationA01" >
                <li><a href="#" class="first">First</a></li><li><a href="#" class="previous">Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#" class="current">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" class="next">Next</a></li>
                <li><a href="#" class="last">Last</a></li>
              </ul>
              <!-- DC Pagination:A1 End -->
              </div>