<!DOCTYPE html>
<html>    
{% block title%}
{{ session }}
    <title>Forgot Password</title>

        <link rel = "stylesheet" type = "text/css" href = "static/css/stylesheet.css"/>
{% endblock %}
{% block body %}
<body>
  <div class="container"> 
    <div class="login-wrapper">
      <div class="box">
        <div class="content-wrap">
          <div class="row" style="color: black; font-weight: bold;">
            <h3>Forgot Password</h3>

            <form action="/forgot_password" method="post">
              <input name="__RequestVerificationToken" type="hidden" 
                     value="0s8n8cO6C8Cmqj5i1keZxNqR29TE3NV5jFVHxVXXyHftXAyJU-oy8h-mRPNUkFjmBmyUr1HfTn4GZ57-q6XH_1-VHAvJzgCUx8zYOe_L1y01" />
              <div class="text-left">
                <div class="editor-label">
                  <label for="Email">Email Address</label>
                </div>
                <div class="editor-field">
                  <input class="form-control" data-val="true" 
                       data-val-length="The Email Address must be between 5 - 255 characters." 
                       data-val-length-max="255" data-val-length-min="5" 
                       data-val-regex="Please enter a valid email address" 
                       data-val-regex-pattern="^[\w\+-\.]+@([\w-]+\.)+[\w-]{2,4}$" 
                       data-val-remote="&#39;Email Address&#39; is invalid." 
                       data-val-remote-additionalfields="*.Email" 
                       data-val-remote-url="/Account/NonUsrNameCheck" 
                       data-val-required="The Email Address field is required." 
                       id="Email" name="Email" placeholder="Enter Email" 
                       type="text" value="" />
                  <span class="field-validation-valid" 
                        data-valmsg-for="Email" 
                        data-valmsg-replace="true">
                  </span>
                </div>

                <p class="pad10tb">
                <input type="submit" value="Submit" 
                        class="btn btn-primary" /> 
                </p><p>
                <a class="btn btn-back" href="/" 
                    role="button"><button> Back </button>
                </a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
</html>
