<!DOCTYPE html>
<html>    
{% block title%}
    <title>Forgot Password</title>
{% endblock %}
{% block body %}
<body>
    <div class="header">
        <a href="/Login" title="BookbBlend Home" style="font-size:30px; text-decoration:none;">
            <img src="/Resources/Images/Book_Logo1.png" style="height:50px;" alt="logo">
        </a>
    </div>
    <div class="container">
        

<div class="login-wrapper">
    <div class="box">
        <div class="content-wrap">
            <h6>Forgot Password</h6>

<form action="/forgot_password" method="post"><input name="__RequestVerificationToken" type="hidden" value="0s8n8cO6C8Cmqj5i1keZxNqR29TE3NV5jFVHxVXXyHftXAyJU-oy8h-mRPNUkFjmBmyUr1HfTn4GZ57-q6XH_1-VHAvJzgCUx8zYOe_L1y01" />                <div class="text-left">
                        <div class="editor-label">
                            <label for="Email">Email Address</label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" data-val="true" data-val-length="The Email Address must be between 5 - 255 characters." data-val-length-max="255" data-val-length-min="5" data-val-regex="Please enter a valid email address" data-val-regex-pattern="^[\w\+-\.]+@([\w-]+\.)+[\w-]{2,4}$" data-val-remote="&#39;Email Address&#39; is invalid." data-val-remote-additionalfields="*.Email" data-val-remote-url="/Account/NonUsrNameCheck" data-val-required="The Email Address field is required." id="Email" name="Email" placeholder="Enter Email" type="text" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>

                        <p class="pad10tb">
                            <input type="submit" value="Submit" 
                                    class="btn btn-primary" /> 
                            <a class="btn btn-danger" href="/" 
                                role="button"><button>Cancel</button></a>
                        <div><a class="blue" href="/register" title="Create an account">Create an account</a> </div>
                </div>
</form>        </div>
    </div>
</div>


    </div>
    
    <script src="/bundles/jqueryval?v=mRjM0qa6T8GTCa8lhmXMI_-t5fsTCmHSxo4BqkY9x4A1"></script>


    <script src="/Resources/js/bootstrap.min.js"></script>

    <script src="/Resources/js/theme.js"></script>

    <script src="/Assets/js/aim_script.js"></script>




</body>
{% endblock %}
</html>


    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49627995-1', 'aimva.org');
    ga('send', 'pageview');

    </script>