{% extends "base.html" %}

{% block title%}
    <title>Get Password</title>
{% endblock %}
{% block body %}
{{ session }}

    <div class="container">
      <form action="/forgot_password" method="POST">
        <div class="text-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h2> Forgot Password</h2>
              <div class="text-left">
                <div class="editor-label">
                  <label for="Email">Email Address</label>
                </div><div class="editor-field">
                  <input class="form-control" data-val="true" 
                       data-val-length="The Email Address must be between 5 - 255 characters." 
                       data-val-length-max="255" data-val-length-min="5" 
                       data-val-regex="Please enter a valid email address" 
                       data-val-regex-pattern="^[\w\+-\.]+@([\w-]+\.)+[\w-]{2,4}$" 
                       data-val-remote="&#39;Email Address&#39; is invalid." 
                       data-val-remote-additionalfields="*.Email" 
                       data-val-remote-url="/Account/NonUsrNameCheck" 
                       data-val-required="The Email Address field is required." 
                       id="Email" name="Email" placeholder="Enter Email" 
                       type="text" value="" />
                  <span class="field-validation-valid" 
                        data-valmsg-for="Email" 
                        data-valmsg-replace="true">
                  </span>
                </div>

                <p class="action">
                <input type="submit" value="Submit" 
                        class="btn btn-primary" /> 
                <a class="btn btn-back" href="/"> Back</a>
                </a></p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

{% endblock %}



<p><a href="mailto:uberbot@ubermelon.com">uberbot@ubermelon.com</a></p>