{% extends "base.html" %}

{% block title %}
    <title>Hold list</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
      <form action="/process_search?source=newbooks" method="get">
        <div class="book-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h4>  {% if what == 'hold' %}
                      List of books on hold:  
                    {% else %}
                      Books that are checked out are:
                    {% endif %}
              </h4>
              <div class="text-left">
                <table class="table" id='content' cellspacing="10">
                  <thead>
                    <tr>
                      <th>Cover</th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>{% if what == 'hold' %}
                            Hold period  
                          {% else %}
                            Check out period expires
                          {% endif %}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for title, books in list_of_books | groupby('title') %}
                      {% for book in books %}
                        <tr>
                          <td>
                            {% if book['images'] == 1 
                               or book['images'] == 0 %} 
                               <img class='bookImage' width=40px height=65px
                                    src="http://bestclipartblog.com/clipart-pics/book-clip-art-12.jpg" 
                                    border="0" alt="book jacket" >
                            {% else %}
                              <img class='bookImage' width=40px height=65px
                                       src='{{ book['images'] }}'>
                            {% endif %}
                          </td>
                          <td>
                            {% if book['origin'] == "ODCOM" %} 
                              <a class="bookDetailLink" NAME="cfd" 
                                data-origin="{{ book['origin'] }}"
                                data-author="{{ book['author'] }}"
                                data-avaiableToDownload="{{ book['avaiableToDownload'] }}"
                                data-title="{{ book['title'] }}"
                                data-images="{{ book['images'] }}"
                                data-id="{{ book['id'] }}"
                                data-synopsis="{{ book['synopsis'] }}"
                                data-expires="{{ book['expires'] }}"
                                data-metadata="{{ book['metadata'] }}"
                                href="{{ url_for('show_book') }}">{{ book['title'] }}</a>
                            {% else %}
                              {{ book['title'] }}
                            {% endif %}
                          </td>
                          <td>{{ book['author'] }}</td>
                          <td align="center" >{{ book['expires'] }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <li>No results :(</li>
                      <br>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="action">
                  <a class="btn btn-danger" href="/main" >Back</a>  
              </div>

            </div>
          </div>
        </div>
      </form>
      <form action="/book_details" method="POST" id="bookDataForm">
        <input id="bookDataField" type="hidden" name="bookData" value="" >
        <input id="origin", type='hidden', name='origin' value="" >
        <input id="author", type='hidden', name='author' value="" >
        <input id="availableToDownload", type='hidden', name='availableToDownload' value="" >
        <input id="title", type='hidden', name='title' value="" >
        <input id="images", type='hidden', name='images' value="" >
        <input id="id", type='hidden', name='id' value="" >
        <input id="metadata", type='hidden', name='metadata' value="" >
        <input id="expires", type='hidden', name='expires' value="" >
        <input id="synopsis", type='hidden', name='synopsis' value="" >
      </form>
    </div>
    <!-- jpaginate-jquery -->
<script src="http://c.fzilla.com/1286136086-jquery.js"></script>  
<script src="http://c.fzilla.com/1291523190-jpaginate.js"></script>  

<SCRIPT LANGUAGE="JavaScript">

$('.bookDetailLink').click(function(e) {
  e.preventDefault();
  var bookData = e.currentTarget.dataset;
  $('#origin').val(bookData.origin);
  $('#author').val(bookData.author);
  $('#availableToDownload').val(bookData.availableToDownload);
  $('#title').val(bookData.title);
  $('#images').val(bookData.images);
  $('#id').val(bookData.id);
  $('#metadata').val(bookData.metadata);
  $('#expires').val(bookData.expires);
  $('#synopsis').val(bookData.synopsis);
  $('#bookDataForm').submit();
  console.log("in bookDetailLink function");
} );

</SCRIPT>

{% endblock %}

