{% extends "base.html" %}

{% block title%}
    <title>Hold list</title>
{% endblock %}
{% block body %}
<br>
session - {{ session }}
<br>
books - {{ books }}
<br>
calling from - {{ what }}
    <div class="container-fluid">
      <form action="/process_search?source=newbooks" method="get">
        <div class="book-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h4>  {% what == hold %}
                      List of books on hold:  
                    {% else %}
                      The books checkecd out are:
                    {% endif %}
              </h4>
              <div class="text-left">
                <table class="table" id='content' cellspacing="10">
                  <thead>
                    <tr>
                      <th>Cover</th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>{% what == hold %}
                            Hold Expires  
                          {% else %}
                            Checkecd Expires
                          {% endif %}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for title, books in list_of_books | groupby('title') %}
                      {% for book in books %}
                        <tr>
                          <td>
                            {% if book['images'] == 1 
                               or book['images'] == 0 %} 
                               <img class='bookImage' width=40px height=65px
                                    src="http://bestclipartblog.com/clipart-pics/book-clip-art-12.jpg" 
                                    border="0" alt="book jacket" >
                            {% else %}
                              <img class='bookImage' width=40px height=65px
                                       src='{{ book['images'] }}'>
                            {% endif %}
                          </td>
                          <td>
                            {% if book['origin'] == "ODCOM" %} 

                            <a href="{{ url_for('show_book', book=book) }}">{{ book['title'] }}</a>
                            {% else %}
                              {{ book['title'] }}
                            {% endif %}
                          </td>
                          <td>{{ book['author'] }}</td>
                          <td>{{ book['expires'] }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <li>No results :(</li>
                      <br>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          <div>
            <h3>Search Again</h3> 
            <input type="text" title="Search" name="search" 
                   class="form-control" 
                   placeholder="Key words, author, title" 
                   autofocus >
            <a class="btn btn-primary" ><button>Search</button></a><br><br>
          </div>
          <div class="action">
            <a class="btn btn-danger" href="/main" >Back</a>  
            <a class="link_to_overdrive" href="{{ url_for('show_book', book=book) }}" >Detail</a>   
          </div>

            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- jpaginate-jquery -->
<script src="http://c.fzilla.com/1286136086-jquery.js"></script>  
<script src="http://c.fzilla.com/1291523190-jpaginate.js"></script>  
<script>  
$(document).ready(function(){  
    $("#content").jPaginate((items: 5, pagination_class: "table",
                              position: "both"));                         
});  
</script>  
{% endblock %}

          <div>
            <!-- DC Pagination:A1 Start -->
            <ul class="tsc_pagination tsc_paginationA tsc_paginationA01">
              <li><a href="#" class="first">First</a></li>
              <li><a href="#" class="previous">Previous</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#" class="current">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#" class="next">Next</a></li>
              <li><a href="#" class="last">Last</a></li>
            </ul>
            <!-- DC Pagination:A1 End -->
          </div>
