{% extends "base.html" %}

{% block title%}
    <title>Main Page</title>

{% endblock %}
{% block body %}
{{ session }}
    <div class="header" method="GET" 
          action="/main" title="Main page" 
           style="font-size:30px; text-decoration:none;">
    </div>
    <div class="container">
      <form action="/process_search?source=newbooks" method="GET">
        <div class="text-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h4> Hi {{ session['fname'] }}, What can I help you with?</h4>
              <div class="text-left">
                <ul list-style-type: none>
                  <li><a class="btn btn-primary" 
                          href="/process_books_read_by_patron">
                                Books you've read</a></li><br>
                  <li><a >To search for a new book to read, 
                            please enter some search criteria.</a>
                            <a class="notes"; >(Author's First and Last name work best.) </a></li>
                    <br>
                    <input type="text" title="Search" name="search" 
                           class="form-control" 
                           placeholder="Key words, author, title" 
                           autofocus />
                    <a class="btn btn-primary" ><button>Search</button></a>
                    <br>
                    <ul><li><a class="btn btn-primary" 
                               href="/process_suggestions">
                               May I make a recommendation? </a></li>
                    </ul>
                  <li><a class="btn bth-primary" 
                         href="/process_checked_outs">
                               Checked out books</a></li><br>
                  <li><a class="btn bth-primary" 
                         href="/process_wish_lists">Wish list </a></li>
                      <br>
                  <li><a class="btn bth-primary" 
                         href="/process_hold_lists">Books on hold </a></li>
                      <br><br>
                  <li><a class="btn bth-primary" 
                         href="/patron">Manage MyLibElf Account</a></li>
                      <br>
                  <li><a class="btn bth-primary" 
                         href="/library">Manage My Library Access </a></li>
                </ul>
              </div>
              <div class="action">
                <a  href="/logout">Log out</a>   
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

{% endblock %}