{% extends "base.html" %}
    {% block title%}

        <title>Main Page</title>
        <link rel = "stylesheet" type = "text/css" href = "static/css/stylesheet.css"/>
    {% endblock %}


{%  block body %}
    <form class="form-register">
        <h2 class="form-register-heading">Hi, What can I help you with?</h2>

        <ul>
          <li>Books you've read</li>
          <li><a class="btn btn-primary" href="/search">Search for a new book to read </a></li>
            <input  type="text" title="Search" name="search" class="form-control" placeholder="Key words, author, title" required autofocus />
            <a class="btn btn-primary" href="{{ url_for('search_results') }}"><button>Search</button></a>
          <ul><li>May I make a recommendation? </li>
          </ul>
          <li>Wish list </li>
          <li>Books on hold </li>
        </ul>
  
    </form>
{%  endblock %}
