{% extends "base.html" %}
    {% block title%}

        <title>Library Configuration</title>
 
        <link rel = "stylesheet" type = "text/css" href = "static/css/stylesheet.css"/>
   
    {% endblock %}


{%  block body %}
    <form class="form-library" method="POST" action="/process_library">
        <h2 class="form-rlibrary-heading">Please enter the Library information</h2>
        <form class="form-book_list">
          <div class="row">
            <div class="col-md-6">
              <table class="table">
                <thead>
                  <tr>
                    <th>Library Name</th>
                    <th>Card Number</th>
                    <th>Pin</th>
                    <th>URL</th>
                  </tr>
                </thead>
                <tbody>
                {% for library in libraries %}
                <tr>
                    <td>{{ library[0] }}</td>
                    <td>{{ library[1] }}</td>
                    <td>{{ library[2] }}</td>
                    <td>{{ library[3] }}</td>
                    </tr>                
                {% else %}
                  <li>No results :(</li>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </form>

        <button type="btn btn-lg btn-primary btn-block" 
                type="submit">Submit</button>
        <br><div>
              <p class="pad10tb">
                <a  href="/main" 
                    ><button>Cancel</button></a>
              </p>
            </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <ul class="flashes">
                        <li>{{message}}</li>
                    </ul>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </form>
{%  endblock %}
