{% extends "base.html" %}

{% block title%}
    <title>Setup Libraries</title>
{% endblock %}
{% block body %}
{{ session }}
    <div class="header" method="GET" 
          action="/main" title="Main page" 
           style="font-size:30px; text-decoration:none;">
    </div>
    <div class="container">
      <form class="form-library" method="POST" action="/add_library">
        <div class="library-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h4> Here is the list of configured Library/Libraries information</h4>
              <div class="text-left">
                <table class="table" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Library Name</th>
                      <th>Card Number</th>
                      <th>Pin</th>
                      <th>URL</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for library in libraries %}
                  <tr>
                      <td>
                      {{ library.name }}
                      </td>
                      <td>{{ library.card_nbr }}
                      </td>
                      <td>{{ library.pin }}
                      </td>
                      <td>{{ library.url }}
                      </td>
                      </tr>                
                  {% else %}
                      <li>No results :(</li>
                  {% endfor %}
                  <td>
                  <div class="editor-field">
                   <input class="library" id="libraryname" name="libraryname" 
                          placeholder="Enter Library Name" 
                          type="text" value="" />
                  </div>
                  </td>
                  <td>
                   <div class="editor-field">
                   <input class="library" id="librarycardnbr" 
                          name="librarycardnbr" 
                          placeholder="Enter Library card number" 
                          type="text" value="" />
                  </div>
                  </td>
                  <td>
                   <div class="editor-field">
                   <input class="library" id="librarypin" 
                          name="librarypin" placeholder="Enter Library Pin" 
                          type="text" value="" />
                  </div>
                  </td>
                  <td>
                    <div class="editor-field">
                    <input class="library" id="url" name="url" 
                           placeholder="Enter Library URL" 
                           type="text" value="" />
                    </div>
                  </td>
                  </tbody>
                </table>
              </div>

              <br>
              <div class="action">
                <input type="submit" value="Add" class="btn btn-primary" 
                       name="add_library_card" id="add_library" 
                       > 
              </div>
            </div><br>
          <div class="action">
            <a  href="/main" >Back</a>   
          </div>
        </div>
      </form>
    </div>

{% endblock %}

