{% extends "base.html" %}

    {% block title%}
    <title>Login</title>
    {% endblock %}   

{% block body %}
<body>
{{ session }}
  <div class="header">
    <a href="/login" title="MyLibElf Home" style="font-size:30px; text-decoration:none;">
    </a>
  </div>
  <div class="container">
        
    <form action="/" method="post">
      <div class="login-wrapper">
        <div class="box">
          <div class="alert alert-info" style="color: red; font-weight: bold;">
            <h5 style="font-size: 18px; padding-bottom: 10px;">Welcome to MyLibElf!</h5>
          </div>
          <div class="content-wrap">
            <div class="row" style="color: blue; font-weight: bold;">
              <ul id="login_unnumbered_list">
                <li>Let's see some book titles you have already read</li>
                <li> Search for books to read </li>
                <li> Check out some books </li>
                <li> Manage our library accounts </li>
                <li>    and much much more </li>
              </ul>                
            </div>
            <div class="text-left">
              <label for="email">Email address</label>
              <input class="form-control" 
                     autofocus
                     id="email" name="email" 
                     placeholder="Enter Email Address" 
                     type="text" value="" > 
                <br>
                <label for="password">Password</label>
                <input class="form-control" 
                        id="password" 
                        name="password" 
                        placeholder="Enter Password" 
                        type="password" />
            </div>
            <a class="forgot" href="/get_password" 
                title="Don&#39;t remember your password?">
                        Don&#39;t remember your password?</a>
            <div class="action">
                <input class="btn-glow primary login" 
                        type="submit" value="Log In" id="Login"><br>
        <div class="btn btn-overdrive" >        
        Connect to Overdrive
        <a class="blue" href="/overdrive_login">Log in to Overdrive</a>    
        </div><div class="btn btn-back" >
        Don't have an account?
        <a class="blue" href="/register">Create an Account</a></div><div 
           class="btn btn-back" ></div>
        </div>
    </div>
 
 
  </div>
</form>

</body>
{%  endblock %}

</html>
ß