{% extends "base.html" %}

    {% block title%}
    <title>Login</title>
    {% endblock %}   

{% block body %}
<body>

  <div class="header">
    <a href="/login" title="MyLibElf Home" style="font-size:30px; text-decoration:none;">
    </a>
  </div>
  <div class="container">
    <form action="/" method="post">
      <div class="text-wrapper">
        <div class="box">
          <div class="alert alert-info" style="color: red; font-weight: bold;">
            <h5 style="font-size: 18px; padding-bottom: 10px;">Welcome to MyLibElf!</h5>
          </div>
          <div class="content-wrap">
            <div class="row" style="color: blue; font-weight: bold;">
              <ul id="login_unnumbered_list">
                <li>Let's see some book titles you have already read</li>
                <ul id="login_unnumbered_list">
                  <li> search for books to read </li>
                  <li> check out some books </li>
                  <li> manage your library accounts </li>
                  <ul>
                    <li>and much much more </li>
                  </ul>   
                </ul> 
              </ul>                
            </div>
            <div class="text-left">
              <label for="email">Email address</label>
              <input class="form-control" 
                     autofocus
                     id="email" name="email" 
                     placeholder="Enter Email Address" 
                     type="text" value="" > 
                <br>
                <label for="password">Password</label>
                <input class="form-control" 
                        id="password" 
                        name="password" 
                        placeholder="Enter Password" 
                        type="password" />
            </div>

            <a class="text-links" href="/get_password" 
                title="Don&#39;t remember your password?">
                        Don&#39;t remember your password?</a>
             <br>
             <div class="action">
                <input class="btn-glow primary login" 
                        type="submit" value="Log In" id="LoGiN">
            </div>

            <br>
            <div>
            <a class="text-links" title="overdrive" href="/overdrive_login" >Log in to Overdrive</a>
<!--             <img class='OverDriveLogo' width=42px height=42px
                              src="https://developerportaldev.blob.core.windows.net/media/Default/images/Logos/O_42x42.jpg" 
                              border="0" >  -->
            </div>
            <p>
                   Don't have an account? <a class="already" title="Create an Account" href="/register">Create an Account</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
{%  endblock %}