{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block title%}
    <title>Account Information</title>
{% endblock %}
{% block body %}
{{ session }}
{{ fields }}
    <div class="header">
        <a href="/patron" title="Update Patron" 
           style="font-size:30px; text-decoration:none;"></a>
    </div>
    <div class="container">
      <form ><div class="login-wrapper">
        <div class="box">
          <div class="content-wrap">
             <h6>Update Your Account Information</h6>
             <div class="text-left">
               <div class="editor-label">
                 <label for="email">Email Address</label>
               </div>
               <div class="editor-field">
                 <input class="form-control" data-val="true" 
                      data-val-length="The Email Address must be between 5 - 
                                        255 characters." 
                      data-val-length-max="255" 
                      data-val-length-min="5" 
                      data-val-regex="Please enter a valid Email address" 
                      data-val-regex-pattern="^[\w\+-\.]+@([\w-]+\.)+[\w-]{2,4}$" 
                      data-val-remote="&#39;Email Address&#39; is invalid." 
                      data-val-remote-additionalfields="*.Email" 
                      data-val-required="The Email Address field is required." 
                      id="email" name="email" placeholder="Enter Email" 
                      type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="email" 
                    data-valmsg-replace="true"></span>
              </div>
              <div class="editor-label">
                <label for="fname">First Name</label>
              </div>
              <div class="editor-field">
                <input class="form-control" data-val="true" 
                    data-val-length="The First Name must be between 2 - 
                                        255 characters." 
                    data-val-length-max="255" 
                    data-val-length-min="2" 
                    data-val-regex="Use letters only" 
                    data-val-regex-pattern="^[a-zA-Z. \-&#39;]+$" 
                    data-val-required="The First Name field is required." 
                    id="fname" name="fname" type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="fname" 
                    data-valmsg-replace="true"></span>
              </div>
              <div class="editor-label">
                <label for="lname">Last Name</label>
              </div>
              <div class="editor-field">
                <input class="form-control" data-val="true" 
                    data-val-length="The Last Name must be between 2 - 
                                        255 characters." 
                    data-val-length-max="255" 
                    data-val-length-min="2" 
                    data-val-regex="Use letters only" 
                    data-val-regex-pattern="^[a-zA-Z. \-&#39;]+$" 
                    data-val-required="The Last Name field is required." 
                    id="lname" name="lname" placeholder="Enter Last Name" 
                    type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="lname" 
                    data-valmsg-replace="true"></span>
              </div>
              <div class="editor-label">
                <label for="phone">Cell Phone</label>
              </div>
              <div class="editor-field">
                <input class="form-control" data-val="true" 
                    data-val-length="The Cell Phone must be between 10 - 20 
                                    characters." 
                    data-val-length-max="20" data-val-length-min="10" 
                    data-val-regex="Please enter valid phone number in 
                                    XXX-XXX-XXXX format" 
                    data-val-regex-pattern="(([\(]?\d{3}[\)]?\s?)|(\d{3}[-]?))
                    \d{3}[-\s]?\d{4}\s*(?:\s*(?:#|x\.?|ext\.?|extension)\s*
                    (\d+)\s*)?" 
                    data-val-required="The Cell Phone field is required." 
                    id="phone" name="phone" 
                    placeholder="Enter Cell Phone Number" 
                    type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="phone" data-valmsg-replace="true"></span>
              </div>

            </div>
            <div class="action">
              <input type="submit" value="Update" class="btn btn-primary" 
                     name="update_account" id="update_account" 
                     method="post"/> 

              <input type="submit" value="return" class="btn btn-primary" 
                     name="update_account" id="update_account" 
                     method="get"/> 
            
              <a class="btn btn-danger" href="/index.html" role="button"
                 method="get">Back</a>
              
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <!-- jQuery v1.11.0 -->
    <script src="/static/js/bootstrap-3.2.0.min.js"></script>
    <!-- Bootstrap's JS -->
    <script src="/static/js/wall.js"></script>
{% endblock %}
</html>
