{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block title%}
    <title>Create an account</title>
{% endblock %}
{% block body %}
<body>

    <div class="container">
      <form action="/register" method="post">
        <div class="text-wrapper">
          <div class="box">
            <div class="content-wrap">
              <h2>Registration</h2>
              <div class="text-left">
                <div class="editor-label">
                    <label for="email">Email Address</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="email" name="email" 
                           placeholder="Enter Email" type="text" value="" >
                </div>
                <div class="editor-label">
                    <label for="login-id">Login ID</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="login" name="login" 
                           placeholder="Enter Login ID" type="text" value="" >
                </div>

                <div class="editor-label">
                    <label for="password">Password</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" 
                    id="password" 
                    name="password" 
                    placeholder="Enter Password" 
                    type="password" />
                    <span class="field-validation-valid" 
                    data-valmsg-for="password" 
                    data-valmsg-replace="true"></span>
                </div>

                <div class="editor-label">
                    <label for="ConfirmPassword">Confirm password</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="ConfirmPassword" 
                           name="ConfirmPassword" 
                           placeholder="Enter Password" type="password" />
                </div>

                <div class="editor-label">
                    <label for="fname">First Name</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="fname" name="fname" 
                           placeholder="Enter First Name" type="text" 
                           value="" />
                </div>

                <div class="editor-label">
                    <label for="lname">Last Name</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="lname" name="lname" 
                           placeholder="Enter Last Name" type="text" 
                           value="" />
                </div>
                <div class="editor-label">
                    <label for="phone">Cell Phone</label>
                </div>
                <div class="editor-field">
                    <input class="form-control" id="phone" name="phone" 
                           placeholder="Enter Cell Phone Number" 
                           type="text" value="" />
                </div>
              </div>
              <div class="action">
                 <input type="submit" value="Create" class="btn btn-primary" 
                           name="create_account" id="create_account" /> 
                 <a class="btn btn-danger" href="/" > Back</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
{% endblock %}
