{% extends "base.html" %}

<title>Search For a Book</title>



<body >


<div class="container">



	<div id="content" class="clearfix">
      <a name="skip_nav"></a>
       <iframe src="frameless.html" style="width:100%;height:1000px;border:none;"></iframe>

    <div class="content">
        <a name="MainContent"></a>
        
        <div id="pad-wrapper">
            
<h1>Search For a Book</h1>

<form action="/search/find" class="form-horizontal form" method="post" role="form">    <div class="well" style="overflow:hidden;">
        <div class="col-sm-12">
            <div class="form-group"><label for="isbn">ISBN:</label><input class="form-control" id="isbn" max="13" name="isbn" placeholder="Use For Textbooks" style="width:250px" type="text" value="" /><small style="margin-left:170px;" class="">For Textbooks</small></div>
        </div>

        <div class="col-sm-4">
            <div class="form-group"><label for="title">Title:</label><input class="form-control" id="title" name="title" placeholder="Use For Tradebooks" style="width:250px" type="text" value="" /><small style="margin-left:170px" class="">For TradeBooks</small></div>
            <div class="form-group"><label for="author">Author:</label><input class="form-control" id="author" name="author" style="width:250px" type="text" value="" /></div>
        </div>
        <div class="col-sm-4">
            <div class="form-group"><label for="publisher_id">Publisher:</label><select class="form-control" id="publisher_id" name="publisher_id" style="width:250px"><option value="">Any</option>
<option value="2">Academic Innovations</option>
<option value="3">Addison-Wesley</option>
<option value="4">Addison-Wesley / Pearson</option>
<option value="5">Addison-Wesley / Prentice Hall</option>
<option value="7">AIMS Education Foundation</option>
<option value="8">Aladdin Paperbacks</option>
<option value="9">Alfred Publishing</option>
<option value="10">Allyn and Bacon</option>
<option value="6">American Guidance Service Inc.</option>
<option value="11">American Technical Publishers</option>
<option value="12">Amsco School Publications</option>
<option value="13">Anchor Books</option>
<option value="14">Anchor Books / Doubleday</option>
<option value="15">Andrews McMeel Publishing</option>
<option value="16">Apologia Educational Ministries, Inc.</option>
<option value="17">Apress / Springer Verlag</option>
<option value="18">Avon Books</option>
<option value="19">Avon Camelot</option>
<option value="20">Avotek Information Resources</option>
<option value="22">Ballard and Tighe</option>
<option value="21">Ballentine Books</option>
<option value="23">Bantam Books</option>
<option value="24">Bantam Doubleday Dell</option>
<option value="25">Barnes and Noble Books</option>
<option value="26">Beacon Hill Press of Kansas City</option>
<option value="27">Beacon Press</option>
<option value="28">Bedford / St. Martin&#39;s</option>
<option value="29">Beka Book</option>
<option value="30">Benjamin Cummings</option>
<option value="31">Berkley Books</option>
<option value="32">Bibliobazaar</option>
<option value="33">Big Ideas Learning</option>
<option value="34">Briggs and Stratton</option>
<option value="35">Broadway Books</option>
<option value="36">Broadway Books / Random House</option>
<option value="37">Brooks / Cole / Cengage Learning</option>
<option value="38">Brooks Cole / Thomson Learning</option>
<option value="39">Buckle Down Publishing</option>
<option value="40">Bullseye Books</option>
<option value="41">Cambridge University Press</option>
<option value="42">Candlewick Press</option>
<option value="43">Capstone Press</option>
<option value="44">Carolrhoda Books, Inc.</option>
<option value="45">Celebration Press</option>
<option value="46">Cengage Learning</option>
<option value="47">Center for Civic Education</option>
<option value="48">Center Point Large Print</option>
<option value="49">Charlesbridge Publishing</option>
<option value="50">Cheng &amp; Tsui Company</option>
<option value="51">Chivers Press and G.K. Hall</option>
<option value="52">Choosing the Best Publishing</option>
<option value="53">Clarion Books</option>
<option value="54">Clemson University</option>
<option value="55">Cobblestone Publishing</option>
<option value="56">Collier Books / Macmillan Publishing</option>
<option value="57">Comprehension Publishing</option>
<option value="58">CORD Communications, Inc.</option>
<option value="59">Cornerstone Books</option>
<option value="60">CQ Press</option>
<option value="61">Crabtree Publishing</option>
<option value="62">CSHL Press</option>
<option value="63">Curriculum Associates</option>
<option value="64">Custom Publishing</option>
<option value="65">D&amp;S Marketing Systems</option>
<option value="66">D. C. Heath and Company</option>
<option value="67">David Fickling Books</option>
<option value="68">David Publications</option>
<option value="69">Davis Publications</option>
<option value="70">Delacorte Press</option>
<option value="71">Dell / Doubleday</option>
<option value="72">Dell / Random House</option>
<option value="74">Dell Laurel Leaf / Random House</option>
<option value="73">Dell Laurel-Leaf</option>
<option value="75">Dell Yearling</option>
<option value="76">Dell Yearling / Random House Children&#39;s Books</option>
<option value="77">Delmar / Cengage Learning</option>
<option value="78">Delmar / Thomson Learning</option>
<option value="79">Delta Education</option>
<option value="80">Developmental Studies Center</option>
<option value="81">Dial Books</option>
<option value="82">Disney Hyperion Books</option>
<option value="83">Dorling Kindersley</option>
<option value="84">Dover Classics</option>
<option value="85">Dover Large Print Classics</option>
<option value="86">Dover Publications</option>
<option value="87">Dramatic Publishing</option>
<option value="88">Dramatists Play Service</option>
<option value="89">Dreaming and Achieving</option>
<option value="90">Echo Library</option>
<option value="91">ECS Learning Systems, Inc.</option>
<option value="92">Educational Design</option>
<option value="93">Educational Design / Triumph Learning</option>
<option value="94">Educators Publishing Service</option>
<option value="95">EMC / Paradigm Publishing</option>
<option value="96">Evan-Moor Educational Publishers</option>
<option value="97">Fairfax County Public Schools</option>
<option value="98">Farrar, Straus and Giroux</option>
<option value="99">Fearon Janus Quercus</option>
<option value="100">Federal Street Press</option>
<option value="101">Five Ponds Press</option>
<option value="102">Free Press / Simon and Schuster</option>
<option value="103">G.K. Hall and Company</option>
<option value="104">Gale Cengage Learning</option>
<option value="105">Gallopade International</option>
<option value="106">Gareth Stevens Publishing</option>
<option value="107">Gibbs-Smith Publishers</option>
<option value="108">Glencoe</option>
<option value="109">Glencoe / Macmillan</option>
<option value="110">Glencoe / McGraw Hill</option>
<option value="111">Globe Book Company</option>
<option value="112">Globe Fearon</option>
<option value="113">Globe Fearon / Pearson</option>
<option value="115">Globe Fearon / Simon and Schuster</option>
<option value="116">Good Year Books</option>
<option value="117">Goodheart-Willcox</option>
<option value="118">Grand Central Publishing</option>
<option value="119">Great Source Education</option>
<option value="120">Great Source Education Group / Houghton Mifflin</option>
<option value="121">Groundwood Books</option>
<option value="122">Grove Press</option>
<option value="123">Haese &amp; Harris Publications</option>
<option value="124">Hal Leonard Corporation</option>
<option value="125">Hampton City Schools</option>
<option value="126">Handwriting Without Tears</option>
<option value="127">Haper Perennial Modern Classics</option>
<option value="128">Harcourt</option>
<option value="129">Harcourt Brace</option>
<option value="131">Harcourt Brace Jovanovich</option>
<option value="132">Harcourt School Publishers</option>
<option value="133">Harper Collins</option>
<option value="134">Harper Perennial</option>
<option value="135">Harper Trophy</option>
<option value="130">Harper Trophy / Harper Collins</option>
<option value="136">Hay House</option>
<option value="137">Health Communications</option>
<option value="138">Heinemann Library / Reed Elsevier</option>
<option value="139">Heinle &amp; Heinle Publishers</option>
<option value="140">Henry Holt &amp; Company</option>
<option value="141">Holt McDougal</option>
<option value="142">Holt Rinehart and Winston</option>
<option value="170">Holt, Rinehart and Winston / Harcourt Brace</option>
<option value="143">Houghton Mifflin</option>
<option value="144">Houghton Mifflin / Harcourt</option>
<option value="145">Human Kinetics</option>
<option value="146">Industrial Press</option>
<option value="147">Interstate Publishers, Inc</option>
<option value="148">Its About Time</option>
<option value="149">Jack Rabbit Printing</option>
<option value="150">JAK Publishing</option>
<option value="151">Jamestown Publishers</option>
<option value="152">Jeppesen Sanderson</option>
<option value="153">Joanna Cotler Books</option>
<option value="154">John Wiley and Sons</option>
<option value="155">Jones &amp; Bartlett Learning</option>
<option value="156">Kendall / Hunt Publishing</option>
<option value="157">Kensington Books</option>
<option value="158">Key Curriculum Press</option>
<option value="159">Kids Can Press</option>
<option value="160">Knopf Paperback</option>
<option value="161">Laidlaw Brothers</option>
<option value="290">Lanahan Publishers, Inc.</option>
<option value="162">Large Print Bookshelf</option>
<option value="163">Large Print Press</option>
<option value="164">Larousse</option>
<option value="165">Laurel Leaf Books</option>
<option value="166">Lippincott Williams &amp; Wilkins</option>
<option value="167">Little, Brown &amp; Company</option>
<option value="169">Longman / Pearson</option>
<option value="168">Longman Publishing Group</option>
<option value="171">Loyola Press</option>
<option value="173">Macmillan</option>
<option value="172">Macmillan / McGraw Hill</option>
<option value="285">Magna Large Print Books</option>
<option value="175">McDougal Littell / Houghton Mifflin</option>
<option value="174">McDougall Littell</option>
<option value="176">McGraw Hill</option>
<option value="177">Meriwether Publishing Ltd.</option>
<option value="178">Merrill Publishing</option>
<option value="179">Modern Curriculum Press</option>
<option value="180">Mosby</option>
<option value="181">Mountainside Press</option>
<option value="182">National Textbook Company</option>
<option value="183">Neil A. Kjos Music Company</option>
<option value="184">New American Library</option>
<option value="185">Nystrom</option>
<option value="289">Other</option>
<option value="186">Oxford University Press</option>
<option value="187">Pantheon Books</option>
<option value="188">Paradigm Publishing</option>
<option value="189">Pearson</option>
<option value="190">Pearson / Longman</option>
<option value="191">Pearson / Prentice Hall</option>
<option value="192">Penguin Books</option>
<option value="193">Penguin Group</option>
<option value="194">Peoples Education</option>
<option value="195">Peoples Publishing</option>
<option value="196">Perennial Classics</option>
<option value="197">Perfection Learning</option>
<option value="198">Phoenix Learning Resources</option>
<option value="199">Plume / Penguin Groug</option>
<option value="200">Pocket Books</option>
<option value="201">Pocket Books / Simon and Schuster</option>
<option value="202">Prentice Hall</option>
<option value="203">Prentice Hall Health</option>
<option value="204">Princeton Health Press</option>
<option value="205">Pro-Ed Inc.</option>
<option value="206">Puffin Books</option>
<option value="207">Puffin Books / Penguin</option>
<option value="208">Raintree / Reed Elsevier</option>
<option value="209">Rand McNally</option>
<option value="210">Random House</option>
<option value="211">ReadHowYouWant Classics Library</option>
<option value="212">Research &amp; Education Association, Inc.</option>
<option value="213">Rigby PM Collection</option>
<option value="214">Riverhead Books</option>
<option value="215">Rowland Reading Foundation</option>
<option value="216">Sadlier</option>
<option value="217">Sadlier-Oxford</option>
<option value="218">Sarah Crichton Books / Farrar, Straus and Giroux</option>
<option value="219">Saunders</option>
<option value="220">Saxon / Harcourt Mifflin</option>
<option value="221">Saxon Publishers</option>
<option value="222">Scholastic</option>
<option value="223">Scott Foresman</option>
<option value="224">Scott Foresman / Addison Wesley</option>
<option value="225">Scott Foresman / Pearson Education</option>
<option value="287">Scribner</option>
<option value="286">SDC Publications</option>
<option value="226">Signet / Penguin Group</option>
<option value="227">Signet Classic</option>
<option value="228">Signet Classics / Penguin</option>
<option value="229">Silver Burdett &amp; Ginn</option>
<option value="230">Simon and Schuster</option>
<option value="231">Simon Pulse</option>
<option value="232">Skills USA</option>
<option value="233">Sopris West</option>
<option value="236">South-Western / Cengage Learning</option>
<option value="235">South-Western / Thomson</option>
<option value="234">South-Western Publishing</option>
<option value="237">SPEAK / Penguin Group</option>
<option value="238">SRA / McGraw Hill</option>
<option value="239">St. Martin&#39;s</option>
<option value="240">Steck Vaughn</option>
<option value="241">Steck-Vaughn / Harcourt</option>
<option value="242">Teachers&#39; Curriculum Institute</option>
<option value="243">Texas Instruments</option>
<option value="244">The Berkley Publishing Group</option>
<option value="245">The Dictionary Project</option>
<option value="246">The Great Books Foundation</option>
<option value="247">The Modern Library</option>
<option value="248">Thompson Delmar</option>
<option value="249">Thomson / Wadsworth</option>
<option value="250">Thomson Brooks Cole</option>
<option value="251">Thomson Course Technology</option>
<option value="252">Thomson Learning</option>
<option value="253">Thorndike Press</option>
<option value="254">Thunks, Inc</option>
<option value="255">Tidewater Publishers</option>
<option value="256">Tom Doherty Associates</option>
<option value="257">Triumph</option>
<option value="258">Troll Associates</option>
<option value="259">University of Florida Press</option>
<option value="1">Unknown</option>
<option value="260">VADETS</option>
<option value="262">Vintage Books</option>
<option value="263">Vintage Books / Random House</option>
<option value="264">Vintage International / Random House</option>
<option value="261">Virginia Department of Education</option>
<option value="265">Virginia Geographic Alliance</option>
<option value="266">Vista High Learning</option>
<option value="267">Voyager Expanded Learning</option>
<option value="269">W.H. Freeman</option>
<option value="268">W.W. Norton</option>
<option value="270">Wadsworth</option>
<option value="271">Wadsworth Cengage Learning</option>
<option value="272">Warner Books</option>
<option value="273">Warwick House</option>
<option value="274">Washington Square Press</option>
<option value="275">WCB / McGraw Hill</option>
<option value="276">William H. Sadlier, Inc.</option>
<option value="277">Wilson Language Training Corporation</option>
<option value="278">Windrush Oxford</option>
<option value="279">Worth Publishers</option>
<option value="280">Wright Group / McGraw Hill</option>
<option value="281">Yearling</option>
<option value="282">YEARLING / RANDOM HOUSE</option>
<option value="283">Zaner Bloser</option>
<option value="284">Zondervan</option>
</select></div>
        </div>
        <div class="col-sm-4">
            <div class="form-group"><label for="format_id">Format:</label><select class="form-control" id="format_id" name="format_id" style="width:250px"><option value="">Any</option>
<option value="3">Large Print</option>
<option value="4">PDF: Accessible</option>
<option value="5">Nimas</option>
<option value="6">RTF</option>
<option value="7">HTML</option>
<option value="10">PDF: Fully Accessible</option>
<option value="11">Word</option>
<option value="21">ePub</option>
<option value="22">Daisy</option>
<option value="25">AudioBook</option>
<option value="26">Braille</option>
</select></div>
            <div class="form-group" style="margin-top:35px;"><label for="bookType_id">Book Type:</label><select class="form-control" id="bookType_id" name="bookType_id" style="width:250px"><option value="">Any</option>
<option value="1">Workbook (Practice book)</option>
<option value="2">Textbook</option>
<option value="3">Supplemental Reading</option>
<option value="4">Reference book</option>
<option value="5">Trade book</option>
</select></div>

        </div>
        <div class="div-breaker"></div>
        <div class=""><label for="howManyResults">How many Results per source:</label><select id="howManyResults" name="howManyResults"><option value="3">3</option>
<option value="5">5</option>
<option value="10">10</option>
<option value="15">15</option>
<option value="99999">All</option>
</select></div>
        <div class=""><input type="submit" class="btn btn-primary" value="Search" /></div>
    </div>
</form><div id="loadingdiv"></div>
<div id="tabs" style="">
    <div class="sr-only">There are 4 tabs with different result sources.</div>
    <ul>
        <li style="width:125px;height:35px;"><a title="AIM Results Tab" href="#aimResults">AIM Results</a></li>
        <li style="width:125px;height:35px;"><a title="DBVI Results Tab" href="#dbviresults">DBVI</a></li>
        <li style="width:125px;height:35px;"><a title="Learning Ally Results Tab" href="#laresults">Learning Ally</a></li>
        <li style="width:125px;height:35px;"><a title="Learning Ally Results Tab" href="#bsresults">Bookshare</a></li>
        <li style="width:150px;height:35px;"><a title="3rd Party Results Tab" href="#otherResults">3rd Party Results</a></li>
    </ul>
    <div style="" class="row" id="aimResults"></div>
    <div class="row" id="dbviresults"></div>
    <div class="row" id="laresults"></div>
    <div class="row" id="bsresults"></div>
    <div class="row" id="otherResults"></div>
</div>

<script>
    
    function runSearch() {
        $('#tabs').show();
        $('a[href="#aimResults"]').click()
        $('#aimResults').html('<img class="loadingGif" src="/Resources/Images/loading.gif" />');
        $('#otherResults').html('<h4>Results are not provided by AIM-VA</h4><br /><img class="loadingGif" src="/Resources/Images/loading.gif" />');
        $('#dbviresults').html("<h4>Can't find the materials you're looking for?<br /> <a href='/Orders/NewDBVIRequest', title='New DBVI Order'>Click here to request a Braille format through our partner Department for the Blind and Vision Impaired (DBVI).</a></h4><br /><img class='loadingGif' src='/Resources/Images/loading.gif' />");
        //s$('#laresults').html("<h4>Learning Ally is experiencing technical difficulties.  We are monitoring the situation and will update the status as soon as the issue is resolved.");
        $('#laresults').html("<h4>Can't find the materials you're looking for?<br /> <a href='https://www.learningally.org/support-topic/i-dont-see-the-book-i-need-in-the-catalog-can-i-request-a-title/' title='New Learning Ally Order'>Click here to request a new audio book through our partner Learning Ally.</a></h4><br /><img class='loadingGif' src='/Resources/Images/loading.gif' />");
        //$('#loadingdiv').html('<img id="loadingGif" src="/Resources/Images/loading.gif" /><span>Loading...</span>')
        $('#bsresults').html('<img class="loadingGif" src="/Resources/Images/loading.gif" />');

        var apple = $.post('/search/find/apple?frameless=True', $('form').serialize(), function (data) {
            $('#otherResults').html($('#otherResults').html() + data)
            $('#otherResults .loadingGif').remove()
            //$('#otherResults div').hidevisibility()
            //apple = data;
        })
        var google = $.post('/search/find/google?frameless=True', $('form').serialize(), function (data) {
            $('#otherResults').html($('#otherResults').html() + data)
            $('#otherResults .loadingGif').remove()
            //$('#otherResults div').hidevisibility()
            //google = data;
        })
        var amazon = $.post('/search/find/amazon?frameless=True', $('form').serialize(), function (data) {
            $('#otherResults').html($('#otherResults').html() + data)
            $('#otherResults .loadingGif').remove()
            //$('#otherResults div').hidevisibility()
            //amazon = data;
        })
        var aimva = $.post('/search/find/aimva?frameless=True', $('form').serialize(), function (data) {
            $('#aimResults').html(data)
            $('#aimResults .loadingGif').remove()
            //$('#otherResults div').hidevisibility()
            //amazon = data;
        })
        var la = $.post('/search/find/la?frameless=True', $('form').serialize(), function (data) {
            $('#laresults').html($('#laresults').html() + data)
            $('#laresults .loadingGif').remove()
            //$('#otherResults div').hidevisibility()
            //amazon = data;
        })
        var dbvi = $.post('/search/find/dbvi?frameless=True', $('form').serialize(), function (data) {
            $('#dbviresults').html($('#dbviresults').html() + data)
            $('#dbviresults .loadingGif').remove()
            //$('#otherResults div').hidevisibility()
            //amazon = data;
        })
        var bs = $.post('/search/find/bookshare?frameless=True', $('form').serialize(), function(data){
            $('#bsresults').html($('#bsresults').html() + data)
            $('#bsresults .loadingGif').remove()
        })
        $.when(apple, amazon, google, aimva, la, dbvi, bs).done(function () {
            $('#loadingdiv img').remove();
            $('#loadingdiv span').remove();
            //resize();
            /*$('#thirdparty').click(function (e) {
                $('#otherResults div').togglevisibility();
            })*/
            if($('#format_id').val() == 22)
            {
                if ($('#aimResults [value="New Request"]').length == 1 && $('#bsresults .thumbnail').length > 0)
                {
                    $('[href="#bsresults"]').click()
                }
            }
        });
    }
    $('#tabs').hide();
    $.fn.togglevisibility = function()
    {
        if (this.css('visibility') == 'hidden')
            this.css('visibility', 'visible');
        else
            this.css('visibility', 'hidden');
    }
    $.fn.hidevisibility = function()
    {
        this.css('visibility', 'hidden');
    }
    $.fn.showvisibility = function()
    {
        this.css('visibility', 'visible');
    }
    $(document).ready(function () {
        $('#tabs').hide();
        if ($('#isbn').val() || $('#title').val())
            runSearch();
        $('form').submit(function () {
            runSearch();
            //$('#loadingGif').remove();
            return false;
        })
    });
    function resize() {
        setTimeout(function () {
            var heights = new Array();
            $('.thumbnail').each(function (a, b) { /*$(b).height('auto'); */ heights.push($(b).height()) })
            var max = Math.max.apply(Math, heights)
            $.map($('.thumbnail'), function (a, b) { $(a).height(max + 45) })
            //$('#aimResults').height(max - 45);
            //$('#otherResults').height(max - 45);
        }, 200)
    }

</script>

        </div>
    </div>
    <script src="/Resources/js/bootstrap.min.js"></script>


    <script src="/Resources/js/theme.js"></script>

    <script src="/Assets/js/aim_script.js"></script>

    
    <script src="/Resources/js/taskjs.js"></script>

    <!--<script src="/Resources/js/bootstrap-accessibility.min.js"></script>-->
    <script>
        function setCookie(key, value) {
            var expires = new Date();
            expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
            document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
        }

        function getCookie(key) {
            var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
            return keyValue ? keyValue[2] : null;
        }
        function invertcontrast(t)
        {
            if (getCookie('invertcontrast') == 'true' && t == true) {
                setCookie('invertcontrast', 'false');
            }
            else {
                setCookie('invertcontrast', 'true');
            }
            javascript: (function ($) {
                function load_script(src, callback) {
                    var s = document.createElement('script');
                    s.src = src;
                    s.onload = callback;
                    document.getElementsByTagName('head')[0].appendChild(s);
                }

                function invertElement() {
                    var colorProperties = ['color', 'background-color'];
                    var color = null;
                    for (var prop in colorProperties) {
                        prop = colorProperties[prop];
                        if (!$(this).css(prop)) continue;
                        if ($(this).data(prop) != $(this).css(prop)) continue;

                        if (($(this).css(prop) === 'rgba(0, 0, 0, 0)') || ($(this).css(prop) === 'transparent')) {
                            if ($(this).is('body')) {
                                $(this).css(prop, 'black');
                                continue;
                            } else {
                                continue;
                            }
                        }
                        color = new RGBColor($(this).css(prop));
                        if (color.ok) {
                            $(this).css(prop, 'rgb(' + (255 - color.r) + ',' + (255 - color.g) + ',' + (255 - color.b) + ')');
                        }
                        color = null;
                    }
                }

                function setColorData() {
                    var colorProperties = ['color', 'background-color'];
                    for (var prop in colorProperties) {
                        prop = colorProperties[prop];
                        $(this).data(prop, $(this).css(prop));
                    }
                }

                function invertColors() {
                    $(document).live('DOMNodeInserted', function (e) {
                        var $toInvert = $(e.target).find('*').andSelf();
                        $toInvert.each(setColorData);
                        $toInvert.each(invertElement);
                    });
                    $('*').each(setColorData);
                    $('*').each(invertElement);
                    $('iframe').each(function () {
                        $(this).contents().find('*').each(setColorData);
                        $(this).contents().find('*').each(invertElement);
                    });
                }
                load_script('http://www.phpied.com/files/rgbcolor/rgbcolor.js', function () {
                    if (!window.jQuery) load_script('https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', invertColors);
                    else invertColors();
                });

            })(jQuery);
        }
        if(getCookie('invertcontrast') == 'true')
        {
            invertcontrast()
        }
    </script>

    </div>

    <div class="clear"></div>

	<script>
 $(document).ready(function() {
 $('.dropdown-submenu2').has('ul').addClass('arrowNav')
            if ('ontouchstart' in document.documentElement) {
                $($('#menu ul')[0]).children(':has(ul)').children('a').each(function() { 
                    var onClick; 
                    var firstClick = function() {
                        onClick = secondClick;
                        return false;
                    };
                    var secondClick = function() {
                        onClick = firstClick;
                        return true;
                    };
                    onClick = firstClick;
                    $(this).click(function() {
                        return onClick();
                    });
                });
            }
			$('.dropdown-submenu1 a').focusin(function(){
$(this).parents('li').addClass('dropdown-hover')
$('li.dropdown-submenu1').not($(this).parents('li')).removeClass('dropdown-hover')
})
$('.dropdown-submenu1 a').focusout(function(){
if($(this).parent('li').next().length == 0)
$(this).parents('li').removeClass('dropdown-hover')

})
        });
</script>
  </div>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
<script src="/assets/js/img_alt.js"></script>
<script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>

  
</body>
</html>